html, body {
  margin: 0;
  padding: 0;
  border-radius: 2px;
  transition: all 1s;
}
body {
  background: #dddddd;
}
.test {
  color: lightcoral;
}
#canvas {
  margin-left: 20px;
  margin-right: 0px;
  padding: 0;
  cursor: crosshair;
  background: #ffffff;
  border: 10px dotted lightblue;
}
#controls {
  margin: 20px 0 20px 20px;
}
#rubberbandDiv {
  position: absolute;
  border: 3px solid blue;
  cursor: crosshair;
  display: none;
}

/* 滑动条 */
.controller__processBar {
  user-select: none;
  width: 1005px;
  height: 30px;
  line-height: 30px;
  position: relative;
}
.processBar--past, .processBar--ahead {
  display: inline-block;
  height: 5px;
  border-radius: 10px;
}
.processBar--past {
  background-color: deepskyblue;
  width: 0;
}
.processBar--ahead {
  background-color: lightgray;
  width: 1000px;
}
.processBar--slider {
  position: absolute;
  left: -10px;
  top: 5px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.popOver {
  position: fixed;
  min-width: 150px;
  padding: 4px;
  background-color: #eee;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 2px 2px lightgray;
  display: none;
  transition: all 0.5s
}