html, body {
  margin: 0;
  padding: 0;
  border-radius: 2px;
  transition: all 1s;
}
body {
  background: lightslategray;
}
.test {
  color: lightcoral;
}
#canvas {
  margin-left: 20px;
  margin-right: 0px;
  padding: 0;
  background: #ffffff;
  border: 10px solid lightslategray;
}
#stain-canvas {
  position: absolute;
  cursor: crosshair;
  z-index: -1;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-right: 0px;
  padding: 0;
  background-color: rgba(0,0,0,0);
  border: 10px dotted lightblue;
}
/* 空间域染色控件 */
#stain-control {
  position: absolute;
  left: 870px;
  top: 10px;
}

#controls {
  margin: 20px 0 20px 20px;
}
#rubberbandDiv {
  position: absolute;
  border: 3px solid blue;
  cursor: crosshair;
  display: none;
}
/*前进后退开始停止按钮*/
.controller__plugin:not(:nth-child(1)) {
  display: inline-block;
}

/*#region 滑动条 */
.controller__processBar {
  user-select: none;
  /* 需要比ahead初始宽度宽5px */
  width: 805px;   
  height: 30px;
  line-height: 30px;
  position: relative;
}
.processBar--past, .processBar--ahead {
  display: inline-block;
  height: 5px;
  border-radius: 10px;
}
.processBar--past {
  background-color: deepskyblue;
  width: 0;
}
.processBar--ahead {
  background-color: lightgray;
  width: 800px; 
}
.processBar--slider {
  position: absolute;
  left: -10px;
  top: 5px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}
/*#endregion */
.popOver {
  position: fixed;
  min-width: 150px;
  padding: 4px;
  background-color: #eee;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 2px 2px lightgray;
  display: none;
  transition: all 0.5s
}

#time-zone {
  margin: 0 0 20px 25px;
  outline: 3px solid lightblue;
  cursor: crosshair;
  border-left-width: 10px;
  position: absolute;
  height: 40px;
  width: 800px;
  top: 592px;
  display: none;
}
#time-stain-controller {
  position: absolute;
  top: 600px;
  left: 870px;
}

/* #region 名单 */
#stain-list {
  position: absolute;
  left: 870px;
  top: 40px;
}
#stain-list header {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.stain-list-content {
  display: flex;
  box-shadow: 0 0 7px 2px white;
}
.list-content {
  height: 480px;
  width: 200px;
  overflow-y: scroll;
}
.list-button-wrapper {
  text-align: center;
  padding: 0.5em 0;
}

/* #endregion */